{% extends 'base.html' %}
{% load static %}
{% block title %} Panel waiter {% endblock title %}
{% block meta %}
  <link rel="stylesheet" href="{% static 'assets/custom/css/waiterstyle.css'%}">
{% endblock meta %}
{% block solicita-atendimento-url %}{% endblock solicita-atendimento-url %}
{% block cardapio-cliente-url %}{% endblock cardapio-cliente-url %}

{% block content %}

<div class="container mt-3 mb-4 border-bottom">
    <h1>Pending Tasks</h1>
  </div>

  <div id="tarefas-pendentes" class="container mt-3 tarefas">
    <a class="tipo-task" data-bs-toggle="collapse" href="#grupo-entregas" role="button" aria-expanded="false" aria-controls="example">
        <p class="p-task">Deliveries</p>
        {% if deliveries.count %}
          <p class="num-pendencias">{{ deliveries.count }}</p>
        {% else %}
          <p id="sem-pendencia"><i class="fas fa-check-circle"></i></p>
        {% endif %}
        <i class="fas fa-chevron-right"></i>
    </a>

    <div id="grupo-entregas" class="grupo list-group collapse">
      {% for delivery in deliveries %}
      <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#delivery{{delivery.id}}">
          <p>{{ delivery.order.item }}</p>
          <p>{{delivery.order.get_status_display }}</p>
          <p class="indica-mesa"> {{ delivery.order.commands.Table }}</p>
        </a>
                <!-- Modal -->
        <div class="modal fade" id="delivery{{delivery.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update order.</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Do you want to mark as{% if delivery.order.status == 'ready' %} <b>Delivery </b> {%else%} <b> Ready</b> {% endif %}?</p>
                <p>By continuing, the task will be removed from the pending list.</p>
                <input type="hidden" name="delivery_id" name="delivery.id">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="location.href='{% url 'waiter:statusOrder' delivery.id %}'">Continue</button>
              </div>
            </div>
          </div>
        </div>
        

      {% empty %}
        <li class="list-group-item list-group-item-action">
          <p>There are no pending deliveries.</p>
        </li>
      {% endfor %}
    </div>

    <a class="tipo-task" data-bs-toggle="collapse" href="#grupo-atendimento" role="button" aria-expanded="false" aria-controls="example">
        <p class="p-task">Services</p>
        {% if qtd_services %}
          <p class="num-pendencias">{{ qtd_services }}</p>
        {% else %}
          <p id="sem-pendencia"><i class="fas fa-check-circle"></i></p>
        {% endif %}
        <i class="fas fa-chevron-right"></i>
    </a>

    <div id="grupo-atendimento" class="grupo list-group collapse">
    {% if prim_attendances or services %}
        {% for prim_attendance in prim_attendances %}
        <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#prim_attend{{prim_attendance.id}}">
            <p>First call</p>
            <p class="indica-mesa"> {{ prim_attendance.table }}</p>
        </a>
        <!-- Modal -->
        <div class="modal fade" id="prim_attend{{prim_attendance.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Answer Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Do you want to fulfill the task <b>{{prim_attendance}}</b>?</p>
                <p>By continuing, the task will be removed from the pending list.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="location.href='{% url 'waiter:performService' prim_attendance.id%}'">Continue</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% for service in services %}
        <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#service{{service.id}}">
            <p>Service</p>
            <p class="indica-mesa"> {{ service.table }}</p>
        </a>
        <!-- Modal -->
        <div class="modal fade" id="service{{service.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Answer Task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Do you want to fulfill the task <b>{{service}}</b>?</p>
                <p>By continuing, the task will be removed from the pending list.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="location.href='{% url 'waiter:performService' service.id%}'">Continue</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    {% else %}
        <li class="list-group-item list-group-item-action">
            <p>There are no pending appointments.</p>
        </li>
        {% endif %}
    </div>

    <a class="tipo-task" data-bs-toggle="collapse" href="#grupo-fechamentos" role="button" aria-expanded="false" aria-controls="example">
        <p class="p-task">Closures</p>
        {% if closures.count %}
          <p class="num-pendencias">{{ closures.count }}</p>
        {% else %}
          <p id="sem-pendencia"><i class="fas fa-check-circle"></i></p>
        {% endif %}
        <i class="fas fa-chevron-right"></i>
    </a>

    <div id="grupo-fechamentos" class="grupo list-group collapse">
      {% for closure in closures %}
        <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#closure{{closure.id}}">
          <p>Closure</p>
          <p class="indica-mesa"> {{ closure.table }}</p>
        </a>
        <!-- Modal -->
        <div class="modal fade" id="closure{{closure.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <h1 class="modal-title fs-5" id="exampleModalLabel">Command closing.</h1>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
               <p>Do you want to close the table command <b>{{ closure.table }}</b>?</p>
               <p>By continuing, the task will be removed from the pending list.</p>
               <input type="hidden" name="num_table" value="{{ closure.id }}">
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary" onclick="location.href='{% url 'waiter:performServiceClose' closure.id %}'">Continue</button>
             </div>
           </div>
         </div>
        </div>
      {% empty %}
        <li class="list-group-item list-group-item-action">
          <p>There are no pending closings.</p>
        </li>
      {% endfor %}
    </div>
  </div>


<div class="d-flex justify-content-center">
    <div class="py-3 md-3">
        <button class="btn btn-outline-primary" type="button">Home</button>
        <button class="btn btn-outline-secondary" type="button">Menu</button>
        <button class="btn btn-outline-primary" type="info">Table</button>
        <button class="btn btn-outline-dark" type="button">Ordes</button> 
    </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("a").click(function() {
      $('i', this).not('.fa-check-circle').toggleClass('fa-chevron-right fa-chevron-down');
    });
    $('#refresh').click(function() {
      document.location.reload(true);
    });
    $('.num-pendencias').ready(function() {
      if (this.innerHTML === "0") {
      }
    })
  });
</script>
{% endblock content %}